name: Deploy tenants

on:
  push:
    branches:
      - main

jobs:
  deploy-nixinx-com:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger nixinx.com on Vercel
        run: curl -X POST "${{ secrets.VERCEL_HOOK_NIXINX_COM }}"

  deploy-nixinx-org:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger nixinx.org on Vercel
        run: curl -X POST "${{ secrets.VERCEL_HOOK_NIXINX_ORG }}"

  deploy-elpatron-com:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Patron Bar & Grill
        run: curl -X POST "${{ secrets.VERCEL_HOOK_PATRON }}"

