name: Sync NODE repos

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  sync-nodes:
    runs-on: ubuntu-latest
    env:
      GITHUB_USER: nixinxcom
      PAT: ${{ secrets.NODES_SYNC_TOKEN }}

    steps:
      - name: Checkout NIXINX core
        uses: actions/checkout@v4

      - name: Sync NODE-HTLeamington
        run: |
          git remote remove NODE-HTLeamington || true
          git remote add NODE-HTLeamington https://${GITHUB_USER}:${PAT}@github.com/nixinxcom/NODE-HTLeamington.git
          git push NODE-HTLeamington main:main --force

      - name: Sync NODE-HTWindsor
        run: |
          git remote remove NODE-HTWindsor || true
          git remote add NODE-HTWindsor https://${GITHUB_USER}:${PAT}@github.com/nixinxcom/NODE-HTWindsor.git
          git push NODE-HTWindsor main:main --force

      - name: Sync NODE-ElPatron
        run: |
          git remote remove NODE-ElPatron || true
          git remote add NODE-ElPatron https://${GITHUB_USER}:${PAT}@github.com/nixinxcom/NODE-ElPatron.git
          git push NODE-ElPatron main:main --force
